# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build folders
build/

# Cache/IDE folders
.cache/
.vscode/
.idea/
/.vs/SFML/v16
/.vs

**/CMakeFiles/
lib/
Makefile
*.cmake
*.pc
CMakeCache.txt
examples/ftp/ftp-d
examples/island/island-d
examples/joystick/joystick-d
examples/opengl/opengl-d
examples/shader/shader-d
examples/sockets/sockets-d
examples/sound/sound-d
examples/sound_capture/sound-capture-d
examples/tennis/tennis-d
examples/voip/voip-d
examples/vulkan/vulkan-d
examples/window/window-d
examples/X11/X11Example-d
install_manifest.txt
